
.search_block{
        background-image: url(https://cdn.pixabay.com/photo/2016/11/20/08/58/books-1842261_1280.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;
        padding: 0;
        position: relative;
        margin-top: 56px;
        margin-bottom: 20px;
        .searchsystem{
            width: 80%;
            background-color: rgba(0,0,0,0.5);
            padding: 50px 60px 40px;
            text-align: center;
            font-size: 1em;
            box-sizing: border-box;
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            h2{
                color: #fff;
                margin-bottom: 20px;
                margin-top: 0;
                font-size: 2.812em;
            }
        }
    }
// 預約頁面    
.reservation{
    margin-top: 56px;
    h2{
        font-size: 2em;
        text-align: center;
        margin: 30px;
        padding-top: 20px;
    }
}
// 共用商品頁、推薦頁
.history,.product_content,.product_recommend{
    margin-top: 76px;
    h2{
        font-size: 2em;
        text-align: center;
        margin: 30px;
    }
}

// 推薦頁
.product_recommend{
    
    .recommend{
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
        padding: 20px 35px;
    }
    .row{
        border-bottom: 1px solid #DDD;
        padding-bottom: 15px;
        label{
            font-size: 1.2em;
            span{
            color: red;
            font-size: 1.25em;
            vertical-align: middle;
            padding: 5px;
            }
        }
        
    }
}